# Command to create a new secret key:
# $ python -c 'import random; import string; print("".join([random.SystemRandom().choice(string.digits + string.ascii_letters + string.punctuation) for i in range(70)]))'
DJANGO_SECRET_KEY=UPDATE_THE_SECRET_KEY!!!

# update this accordingly
DATABASE_URL=postgres://db_user:db_password@host:port/db_name

DEBUG=True
ALLOWED_HOSTS=
BASE_URL=http://127.0.0.1:8000

CELERY_BROKER_URL=redis://127.0.0.1:6379/1
