# Command to create a new secret key:
# $ python -c 'import random; import string; print("".join([random.SystemRandom().choice(string.digits + string.ascii_letters + string.punctuation) for i in range(70)]))'
DJANGO_SECRET_KEY=UPDATE_THE_SECRET_KEY!!!

# update this accordingly
DATABASE_URL=postgres://db_user:db_password@host:port/db_name

CONN_MAX_AGE=60

DEBUG=False

# EMAIL_RECIPIENTS=Full Name <email-with-name@yourdomain.com>,anotheremailwithoutname@yourdomain.com
EMAIL_RECIPIENTS=John Doe <johndoe@yourdomain.com>,janedoe@yourdomain.com,somebody@someplace.com
# DEFAULT_FROM_EMAIL=Full Name <email-with-name@yourdomain.com>
DEFAULT_FROM_EMAIL=Your Company <contact@yourdomain.com>
# https://docs.djangoproject.com/en/dev/ref/settings/#server-email
DJANGO_SERVER_EMAIL=

ALLOWED_HOSTS=www.yourdomain.com
BASE_URL=https://www.yourdomain.com

# Sendgrid
SENDGRID_API_KEY=YOUR_SENDGRID_API_KEY!!!
SENDGRID_GENERATE_MESSAGE_ID=True
SENDGRID_MERGE_FIELD_FORMAT=None

# Sentry
SENTRY_DSN=YOUR_SENTRY_DSN!!!
DJANGO_SENTRY_LOG_LEVEL=20
SENTRY_ENVIRONMENT=production
SENTRY_TRACES_SAMPLE_RATE=0.5

# Redis
REDIS_URL=redis://127.0.0.1:6379/1
REDIS_KEY_PREFIX=celery_project

# Celery
CELERY_BROKER_URL=redis://127.0.0.1:6379/1
