# Command to create a new secret key:
# $ python -c 'import random; import string; print("".join([random.SystemRandom().choice(string.digits + string.ascii_letters + string.punctuation) for i in range(70)]))'
DJANGO_SECRET_KEY=UPDATE_THE_SECRET_KEY!!!

DATABASE_URL=postgres://test_postgres_user:testDB-password@localhost/test_postgres_database

DEBUG=False
ALLOWED_HOSTS=
BASE_URL=www.example.com

CELERY_BROKER_URL=redis://127.0.0.1:6379/1
